html {
    scroll-behavior: smooth;
    }
:root::-webkit-scrollbar{
width: 0px;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color: #282A33;
}
